.product-list-container {
  padding: 30px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .addNew {
    border-radius: 4px;
    background-color: #F25722;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .product-list-table {
    width: 100%;
    border-collapse: collapse;
    padding: 30px; // Adiciona o padding de 30px à tabela

    thead {
      background-color: #161F27;
      color: #fff;
      height: 46px;

      .header-cell {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
        font-weight: bold;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }

        td {
          padding: 8px;
          border-bottom: 1px solid #ddd;

          button {
            margin: 0 4px;
          }
        }
      }
    }
  }
}