.video-container {
  position: relative;
  width: 100%;
  height: 400px;
  h1{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.product-list-container {
  padding: 1rem;



  .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    .addNew {
      border-radius: 4px;
      background-color: #F25722;
      color: #fff;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .filters {
      width: 35%;
      margin-right: 2rem;
    }

    .table-container {
      width: 65%;

      ::ng-deep table thead tr:first-child {
        background-color: #161F27;
        color: white;
        font-size: medium;
      }

      .mat-column-code,
      .mat-column-name,
      .mat-column-category,
      .mat-column-actions {
        width: 15%;
        max-width: 15%;
        word-wrap: break-word;
      }

      .product-list-table {
        thead {
          background-color: #F25722;
        }

        td.mat-cell {
          button {
            margin: 0 0.5rem;
          }
        }
      }

      mat-paginator {
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column;

      .filters,
      .table-container {
        width: 100%;
      }
    }
  }
}