<div class="product-list-container">
  <div class="header-container">
    <app-product-filters (filterChange)="onFilterChanged($event)"></app-product-filters>
    <button mat-button class="addNew" (click)="openProductForm()">
      <p>Adicionar Produto</p>
    </button>
  </div>

  <table mat-table [dataSource]="filteredProducts" class="product-list-table">
    <!-- Código do Produto Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let product"> {{ product.code }} </td>
    </ng-container>

    <!-- Nome do Produto Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let product"> {{ product.category }} </td>
    </ng-container>

    <!-- Ações Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let product">
        <button mat-icon-button color="primary" (click)="openProductForm(product)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="confirmDelete(product.code)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>