::ng-deep table thead tr:first-child {
  background-color: #161F27;
  color: white;
}

.product-list-container {
  padding: 1rem;

  .addNew {
    border-radius: 4px;
    background-color: #F25722;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px 0px 10px 0px
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem;

  app-product-filters {
    margin-right: 20px;
  }

  .product-list-table {
    width: 100%;
    border-collapse: collapse;

    .mat-header-row {
      background-color: #f25722;
      color: white;
    }

    th.mat-header-cell {
      background-color: #161F27;
      color: #fff;
      text-align: left;
      font-weight: bold;
    }

    td.mat-cell {
      button {
        margin: 0 0.5rem;
      }
    }

    thead {
      background-color: #F25722;
    }

    .mat-column-code,
    .mat-column-name,
    .mat-column-category,
    .mat-column-actions {
      width: 25%;
    }
  }

  mat-paginator {
    margin-top: 1rem;
  }
}

::ng-deep .mat-dialog-container {
  width: 90vw;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filtersTab {
  p {
    font-size: 1.25rem;
    color: #F25722;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
  }
}


button[mat-icon-button] {
  &:focus {
    outline: 3px solid #F25722;
  }
}


// Responsividade geral
@media (max-width: 768px) {
  .product-list-container {
    padding: 1rem;
  }

  .header-container {
    flex-direction: column;
    align-items: stretch;
  }

  .product-list-table {
    td.mat-cell,
    th.mat-header-cell {
      font-size: 0.875rem;
    }
  }

  .filtersTab {
    flex-direction: column;
  }
}