.filtersTab {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;

  p {
    color: #F25722;
    font-size: 24px;
    font-family: sans-serif;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: column; // Alinhando os filtros verticalmente
    gap: 20px; // Espaço entre o campo de busca e o select

    mat-form-field {
      width: 100%;

      .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        border-radius: 5px;
      }

      .mat-form-field-wrapper {
        background-color: #fff;
      }

      .mat-input-element {
        padding: 8px 12px;
        font-size: 14px;
        box-sizing: border-box;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      gap: 15px; // Menos espaço em dispositivos menores
    }
  }
}