<div class="filtersTab">
  <p>Filtros:</p>
  <div class="container">
    <ul class="tab">
      <li *ngFor="let category of categories" class="item" [ngClass]="{ 'active': selectedCategory === category.value }"
        (click)="selectCategory(category.value)" (keydown.enter)="selectCategory(category.value)"
        (keydown.space)="selectCategory(category.value)" tabindex="0">
        <span>{{ category.label }}</span>
      </li>
    </ul>
    <button class="clear-button" (click)="clearFilter()">Limpar Filtros</button>
    <div class="search-code">
      <input type="text" id="searchCode" class="custom-input" [(ngModel)]="searchCode"
        (ngModelChange)="filterProducts()" placeholder="Buscar por código">
    </div>
  </div>
</div>