<div class="filtersTab">
  <p>Filtros:</p>
  <div class="container">
    <div class="search-code">
      <mat-form-field appearance="outline" class="custom-mat-input">
        <mat-label>Buscar por código</mat-label>
        <input matInput [(ngModel)]="searchCode" (ngModelChange)="filterProducts()" placeholder="Buscar por código">
      </mat-form-field>
    </div>

    <div class="category-select">
      <mat-form-field appearance="outline" class="custom-mat-select">
        <mat-label>Categoria</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="filterProducts()">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{ category.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>