::ng-deep .mat-dialog-container {
  width: 80%;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  -moz-appearance: textfield;
  /* Para Firefox */
}